.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"],
button {
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #45b6d9;
}

.fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.fieldset-group {
  display: flex;
  flex-direction: column;
}

.fieldset-group .login {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fieldset-group .login label {
  margin-right: 10px;
}

.fieldset-group .labelCadastro {
  margin-bottom: 5px;
}


.legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group label {
  margin-right: 20px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.login {
  display: flex;
  margin-bottom: 20px;
}

.login label {
  margin-right: 10px;
}

.checkOptions{
  display: inline-table;
  margin-top: 1rem;
}